<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Slab"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Noto+Sans&family=Original+Surfer&display=swap"
      rel="stylesheet"
    />
{{>style}}
    {{!-- <link rel="stylesheet" href="css/style.css" /> --}}
    <title>HortiGrow</title>
    <link rel="shortcut icon" type="image/x-icon" href="/fav.ico" />
  </head>

  <body>
    <article class="container">
      <!-- Navbar -->
     <nav>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/Index/shop">Shop</a></li>
          <li><a href="#aboutus">About Us</a></li>
          <li><a href="/Index/feedback">Feedback</a></li>
          <li>
            <a href="/Index/cart"><i class="fa fa-shopping-cart"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-user"></i></a>
             <ul class="listRight">
              <li style="padding-left: -10px;"><a href="/Index/Profile">Profile</a></li>
              <li style="padding-left: -10px;"><a href="/Index/orderhistory">Orders</a></li>
              <li><a href="/Index/signInUser">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Responsive Navbar-->
      <section class="menu-btn">+</section>

      <!-- Main Heading-->
      <header>
        <h1>HortiGrow</h1>
      </header>

      <!--First Section Heading-->
      <section class="section-follow">
        <h3 class="follow-me">Featured Plants</h3>
      </section>

      <!--Second Section Best Sellers-->
      <section>
        <section class="description">
          <h3>Our Best Sellers</h3>
          <p>
            The seedbeds are the best sellers of our website which is the local
            soil environment in which seeds are planted. Often it comprises not
            only the soil but also a specially prepared cold frame, hotbed or
            raised bed used to grow the seedlings in a controlled environment
            into larger young plants before transplanting them into a garden or
            field. A seedling bed is used to increase the number of seeds that
            germinate.
          </p>
        </section>
        <div class="image">
          <img src="/seedbeds3.jpg" alt="Music Programming" />
        </div>
      </section>

      <!--Third Section New Collections-->
      <section>
        <div class="description">
          <h3>New Collections</h3>
          <p>
            We have added plants to our new collections along with the
            seedbeds.Plants are really important for the planet and for all
            living things.Plants absorb carbon dioxide and release oxygen from
            their leaves, which humans and other animals need to breathe.Living
            things need plants to live - they eat them and live in them.Plants
            help to clean water too.
          </p>
        </div>
        <div class="image">
          <img src="/flowerpot.jpg" alt="Vocals Recording" />
        </div>
      </section>

      <!--Fourth Section About Us-->
      <section>
        <div class="description">
          <a id="aboutus"></a>
          <h3>About Us</h3>
          <p>
            Did you know planting a tree is one of the easiest and most powerful
            things you can do to have a positive impact on the environment? It’s
            true. Trees clean the air, prevent rainwater runoff, help you save
            energy and even combat global warming. And they’re a snap to plant!
            No horticultural degree required. Our motive is to make planet green
            so we are introducing you to new features for the seedling and
            plants. The production of good quality seedlings is very much
            essential for getting higher yield and quality of any crop. Now a
            days seedling production use pro trays. We try to bring you best and
            good quality seedlings. Check out our new collection and connect
            with us.
          </p>
        </div>
        <div class="image">
          <img src="/img_about.jpg" alt="Mixing & Mastering" />
        </div>
      </section>

      <!-- Footer-->
      <footer>HortiGrow &copy; 2021</footer>
    </article>

    <script src="/main.js"></script>
  </body>
</html>
