<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <title>HortiGrow</title>
  <link rel="shortcut icon" type="image/x-icon" href="/fav.ico" />
  {{>main_shaily}}
</head>
<body>
    <div class="container">
        <center>  <img src="https://cdn.dribbble.com/users/1283437/screenshots/4486866/checkbox-dribbble-looped-landing.gif" alt="this slowpoke moves"  width="250" /></center>
        <center>  <p style="color:rgb(50, 180, 17);font-size:160%;">Order Placed</p></center>
        <form action="/Index">
        <center>  <button class="button">GO to Index </button></center>
        <form>
    </div>
    <script src="/signingScreen_shailly.js">
  </script>
</body>
